// $primary: #dde00c;
@import '~bootstrap/scss/bootstrap.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

// Table Design
.d-flex {
  input {
    margin: 7px 0em;
  }

  button {
    margin: 1.5em .6em;
    padding: .3em 2.4em;
  }

  table {
    margin: 1em 5em;

    td {
      vertical-align: middle;
      padding: 0;
    }
  }
}

// Bootstrap Form Component
.form-group {
  margin-bottom: 0;

  input {
    text-align: center;

    &.form-control-plaintext {
      outline: none;
    }
  }

  div {
    max-width: 100%;
  }

  // Form X button to delete value 
  svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 3px;
    border-radius: 50%;
    background: #dc3545;
  }
}